<!DOCTYPE html>
<html>
  <head>
    <title>McmaklerJorgecalero</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon-home">
  <%= link_to "McMakler", root_path, style: 'font-family: Inter, sans serif; text-decoration: none; color: #004b54; font-size: 32px;' %>

  </div>

    <%= yield %>

  </body>
</html>
